* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden; 
  background: radial-gradient(rgb(1, 0, 58), rgb(190, 0, 73));
  
}

.taskBar {
  background-color:#0e0444;
  height: 115px;
  width: 100vw;
  box-shadow: none; 
  display: flex;
  justify-content:space-evenly;
  align-items:center;
  bottom:0;
  left: 0;
  z-index: 1;
  position: fixed;
}




.imgHome, .imgHora, .imgForm {
width: 60px;
height: 60px; 
}

.home:hover, .hora:hover, .form:hover {
background-color: #090132; 
transform: scale(1.05);

}

.home, .hora, .form  {
transition: background-color 0.3s ease, transform 0.3s ease;
display:inline-block;
padding: 1.5vh;
border-radius: 1.5vh;
}

.grid-container {
  height: 190px;
  width: 85vw;
  background-color: #E91366;
  border: white 8px solid;
  border-radius: 30px;
  display: flex;
  justify-content:center;
  justify-content: space-between;
  font-size: 2.3rem;
  font:100;
  font-weight: lighter;
  align-items: center;
  padding-inline: 8vh;
  margin-top: 5vh;
  color: white;

}

button {
  width: 350px; 
  height: 125px;
  font-size: 4.5rem;
  border-radius: 36px;
  border: none;
  background-color: #eaeaea;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

button:hover {
  background-color: #ffffff;
  transform: scale(1.12);
}
.motivo{
  text-decoration: none;
}

.tablaRobin {
  background-color: #483CA1;
  height: 250px;
  width: 90vw; 
  border-radius: 25px;
}

.contenidoHome {
  display:flex;
  flex-direction: column;
  font-size: 20px;
  align-items: center;
  margin-top: 20px;
  gap: 55px;
}

.datos {
  margin: 20px;
}

.grid-table {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr  ;
  margin-top: 10px;
  padding: 30px;
}

.grid-header {
  font-weight: bold;
}

.grid-row {
  display: contents;
}

h3 {
  color: #cacaca;
}

.labels {
  font-size: 1.9rem;
  font-weight: 650;
  display: flex;
  gap: 35%;
  margin-left: 2%;
  color: white;
  margin-bottom: 13px;

}
.envio1, .envio2, .envio3, .envio4 {
  width: 50%; 
  height: 100%;
  background-color: #483CA1;
  padding-left: 20px;
  padding-top: 12px;
 
}

.envio2, .envio4 {
  background-color: #BAB6D9;
  padding-left: 20px;
  padding-top: 12px;
}

.envio1 {
  border-radius: 25px 0 0 0;
}

.envio4 {
  border-radius: 0 0 0 25px;
}

.envio1aula, .envio2aula, .envio3aula, .envio4aula {
  width: 50%;
  height: 100%; 
  background-color: 483CA1;

}

.envio1aula, .envio3aula {
  background-color: #BAB6D9;
  padding-top: 12px;

padding-left:20px;
}

.envio1aula {
  border-radius: 0 25px 0 0;
}

.envio4aula {
  border-radius: 0 0 25px 0;
}

.envio1placeholder, .envio2placeholder, .envio3placeholder, .envio4placeholder {
  display: flex;
  height: 25%
}
