* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
  }
  
  .taskBar {
    background-color: #D9D9D9;
    height: 50px;
    width: 100vw;
    box-shadow: none; 
    display: flex;
    justify-content:center;
    gap: 300px;
    align-items:center;
    position: fixed;
    bottom:0;
    left: 0;
    z-index: 1;
  }
  
  .home:hover, .hora:hover, .form:hover {
    background-color: #CACACACA; 
    transform: scale(1.05);
    
  }
  
  .home, .hora, .form  {
    background-color: #D9D9D9;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: inline-block;
    padding: 1.5vh;
    border-radius: 1.5vh;
  }
  
  .botonesL {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 92vh;
  }

  .botonesL > div {
    display: flex; 
    margin-bottom: 2.6vh; 
    gap:2.6vh;
  }

  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2.6vh;
  }

  a > button {
    padding: 40px;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: inline-block;
  }
  
  a > button:hover {
    background-color: #D9D9D9;
  transform: scale(1.05);

  }


  
