
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
    width: 100vw;
    height: 100vh;
}

main {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

section {
  width: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5vh;

  
}

h1 {
  font-size: 6vh;
    color: black;
    text-align: center;
}

p{
  font-size: 2.5vh;
  color:black;
  padding-top: 15px;
  padding-bottom: 20px;
  text-align: center;
}

button {
  cursor:pointer;
}

.Log {
  width: 11vh;
  height: 1.8vw; 
  border: none;
  border-radius:3vh;
  font-size: 2vh;
  background-color: #D9D9D9 ;

}
.Sign {
  width: 11vh;
  height: 1.8vw; 
  border: none;
  border-radius:3vh;
  font-size: 2vh;
  border: 0.3vh solid #D9D9D9 ;
  background-color: white;

}

.botonesLog  {
  display: flex;
  gap: 1.5vh;
}