* {
    padding: 0; 
    margin: 0; 
    overflow: hidden; 
    font-family: "Inter", sans-serif;
   

}

.cursor {
    z-index: 999; 
    background-image: url(../photos/Group\ 2\ \(1\)\ 1.svg);
    background-size: cover;
    width: 1.2rem; 
    height: 0.55rem; 
    position: fixed; 
    mix-blend-mode: difference;

}

body, html {
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(250deg, #E91366, #0C043F);

}

.taskBar {
    background-color: #0C043F;
    height: 55px;
    width: 100vw;
    box-shadow: none; 
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    position: fixed;
    bottom:0;
    left: 0;
    z-index: 1;
  }

  .imgHome, .imgHora, .imgForm {
    width: 25px;
    height: 25px; 
  }
  
  .home:hover, .hora:hover, .form:hover {
    background-color: #0e0444; 
    transform: scale(1.05);
    
  }
  
  .home, .hora, .form  {
    transition: background-color 0.3s ease, transform 0.3s ease;
    padding: 1.5vh;
    border-radius: 1.5vh;
  }


.barraPlaceholder{ 
    width: 500px;
    height: 25px; 
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    display: flex; 
    align-items: center;
    border: 8px solid white;

}

.barra {
    width: 300px; 
    height: 25px; 
    border-radius: 20px;
    left: -60%;
    position: relative;
    animation: one 2s infinite;
    animation-timing-function: linear; 
    
    
}

.enCaminoTexto {
    color: white; 
}

main {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.robinLogo {
    background-image: url(../photos/Group\ 2\ \(2\).png);
    background-size: cover;
    width: 50px; 
    height: 24px; 
}

.barraLogoPlaceholder {
    display: flex; 
    align-items: center;
    background-color: white;
    border-radius: 30px;
    padding-left: 10px;
}

@keyframes one {
    0% {left: -60%; background-color: #0C043F;}
    15% {background-color: #0C043F;}
    86% {background-color: #E91366;}
    90% {left: 105%; background-color: #E91366;}
    100% {left: 105%;}

}

