
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background: radial-gradient(rgb(1, 0, 58), rgb(190, 0, 73));
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
    width: 100vw;
    height: 100vh;
}

main {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

section {
  width: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5vh;

  
}

h1 {
  font-size: 6vh;
    color: #E91366;
    text-align: center;
}

p{
  font-size: 2.5vh;
  color:rgb(255, 255, 255);
  padding-top: 15px;
  padding-bottom: 20px;
  text-align: center;
}

button {
  cursor:pointer;
}

.Log {
  width: 90px;
  height: 40px; 
  border: none;
  border-radius:3vh;
  font-size: 2vh;
  background-color: #EAEAEA ;
  transition: background-color 0.3s ease, transform 0.3s ease;

  display: inline-block;

}
.Sign {
  width: 90px;
  height: 40px; 
  border: white, solid 0px;
  border-radius:3vh;
  font-size: 2vh;
  border: 0.3vh solid #EAEAEA ;
  background-color: white;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: inline-block;

}

.Log:hover {
  background-color: #D9D9D9;
  transform: scale(1.05);

}

.Sign:hover {
  transform: scale(1.05);
  border: 0.35vh solid #D9D9D9

}

.botonesLog  {
  display: flex;
  gap: 20px;
}

.textoInicial  {
  width: 500px; 
  align-items: center;
  color: rgb(212, 9, 87);
}

