* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
    overflow: hidden; 
    background-image: url(../../Frontend/photos/log_in.svg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 7.5vh;

  }
  
  .taskBar {
    background-color:#0e0444;
    height: 115px;
    width: 100vw;
    box-shadow: none; 
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    bottom:0;
    left: 0;
    z-index: 1;
    position: fixed;
  }
  
  
.imgHome, .imgHora, .imgForm {
  width: 60px;
  height: 60px; 
}

.home:hover, .hora:hover, .form:hover {
  background-color: #090132; 
  transform: scale(1.05);
  
}

.home, .hora, .form  {
  transition: background-color 0.3s ease, transform 0.3s ease;
  display:inline-block;
  padding: 1.5vh;
  border-radius: 1.5vh;
}

.horariosPlaceholder {
  width: 45vw;
  height: 300px;
  border-radius: 30px;
  
}

.labels {
  width: 60vh;
  display: flex; 
  gap: 40%;
  margin-bottom: 10px;
  margin-left: 6%;
  color:white; 
  font-weight: 600;
  font-size: 29px;
}

.labelIvo, .labelDaro, .labelPau, .labelLu {
  width: 50%;
  height:100%;
  background-color: #483CA1;
  display: flex;
  align-items: center;
  padding-left: 6%;

}

.labelDaro, .labelLu {
  background-color: #BAB6D9;
}

.labelIvo {
  border-radius: 30px 0 0 0;
}

.labelLu {
  border-radius: 0 0 0 30px;
}


.aulaIvo, .aulaDaro, .aulaPau, .aulaLu {
  width: 50%;
  height:100%;
  background-color: #BAB6D9;
  display: flex;
  align-items: center;
  padding-left: 4%;
}

.aulaDaro, .aulaLu {
  background-color: #483CA1;
}

.aulaIvo {
  border-radius: 0 30px 0 0;
}

.aulaLu {
  border-radius: 0 0 30px 0;
}


hgroup {
  height: 25%;
  display: flex;
  width: 100%;
  font-size: 1.9rem;
  font-weight: 400;
}