 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
    background-image: url(../../photos/log_in.svg);
    background-size: cover;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh;
    border-radius: 5vh;
    background-color: #0C043F;
    opacity: 93%;
    border-width: 8px;
  }
  
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:8px;
    margin: 4vh;
    padding: 2vh;
  }
  
  h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #EAEAEA;
  }
  
.primary {
    cursor:pointer;
    size: auto;
  }
  

.primary {
  border: none;
  border-radius: 2.4vh;
  font-size: 2vh;
  background-color: #D9D9D9;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: inline-block;
 
  }

.nombreLog, .contraLog {
  border: 0.8vh solid #D9D9D9;
  border-radius: 2.4vh;
}

.nombreLog, .contraLog, .primary {
  width: 260px;
  height: 50px;
  padding: 10px;
  

}

.primary:hover  {
  background-color: #cacaca;
  transform: scale(1.05);
  

}

input:hover {
  border: 0.8vh solid #cacaca;

}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2vh;
  gap: 8px;
  

}

.Registrate {
color: #E91366;
}
 
.textoCuenta {
  color: #EAEAEA;
}